body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

/* Style page content */
body.index-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  justify-content: center;  /* Centers content horizontally */
  align-items: center;     /* Centers content vertically */
}

.sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #111;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  overflow-y: auto; /* Allow scrolling if content overflows */
}

.navblock_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10px; /* Add padding to avoid overflow */
}

.navblock_text a {
  padding: 10px 16px; /* Adjust padding for space around text */
  margin-bottom: 10px; /* Increase margin to create space between links */
  text-decoration: none;
  text-align: center;
  font-size: 20px; /* Adjusted font size */
  color: #818181;
  width: calc(100% - 20px); /* Ensure links fit within the container */
  box-sizing: border-box;
}

.navblock_text a:hover {
  color: #CFD8DC;
}

.navblock_text a.active {
  color: #3498DB;
  font-weight: bold;
}

.main {
  margin-left: 260px;
  padding: 20px;
  
}

.social_links {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.about_photo {
  display: block;
  margin-top: 5%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Responsive styles for smaller screens */
.social_links {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

/* Media queries for different screen sizes */
/* Responsive styles for smaller screens */
@media screen and (max-width: 992px) {
  .sidenav {
    width: 200px; /* Adjust the sidebar width for medium screens */
    position: relative; /* Relative positioning */
  }

  .navblock_text a {
    font-size: 18px; /* Smaller font size for medium screens */
    padding: 10px; /* Adjust padding for medium screens */
  }

  .main {
    margin-left: 200px; /* Adjust the margin for the main content */
  }
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 150px; /* Smaller width for smaller screens */
    height: auto;
    position: relative;
  }

  .navblock_text a {
    font-size: 16px; /* Smaller font size for small screens */
    padding: 8px; /* Adjust padding for small screens */
  }

  .main {
    margin-left: 150px;
    padding: 10%; /* Ensure the main content isn't too narrow */
  }
}

@media screen and (max-width: 576px) {
  .sidenav {
    width: 120px;
  }

  .main {
    margin-left: 120px;
  }

  .navblock_text a {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .sidenav {
    width: 100px; /* Smaller width for very small screens */
  }

  .main {
    margin-left: 100px;
  }

  .navblock_text a {
    font-size: 14px; /* Smaller font size for very small screens */
    padding: 6px; /* Adjust padding for very small screens */
  }

  .content, .main {
    padding: 5%;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-text, .profile-photo {
    max-width: 100%;
    margin: 0;
  }

  .social_links a {
    margin: 5px; /* Add margin to prevent overlap */
    flex: 1 1 50px; /* Adjust the width of each icon */
  }
}



.about_links {
  text-decoration: none;
  color: black; /* Make the icons black */
  font-size: 1.5em; /* Adjust the size as needed */
  margin: 0 10px;
}
/* ################For index.html############### */
.about_links i {
  display: inline-block;
  margin-right: 0; /* Remove any additional margin */
}

.about_links:hover {
  color: #3498DB; /* Change color on hover if desired */
}

/* #################For experiences.html############## */
body.experiences-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
  margin: 0;
}

body.experiences-page .sidenav {
  position: fixed;
  left: 0;
}

body.experiences-page .experiences-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

body.experiences-page .experience-item {
  width: 100%;
  max-width: 800px; /* Set a max-width to prevent it from getting too wide */
  margin: 20px 0; /* Space between experience items */
}

/* #################For talks.html############## */
body.talks-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
  margin: 0;
}

body.talks-page .sidenav {
  position: fixed;
  left: 0;
}

body.talks-page .talks-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

body.talks-page .talk-item {
  width: 100%;
  max-width: 800px; /* Set a max-width to prevent it from getting too wide */
  margin: 20px 0; /* Space between talk items */
}


.sidenav {
  width: 200px; /* Adjust width as needed */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f4f4f4;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navblock_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navblock_text a {
  padding: 12px; /* Adjust padding for space around text */
  margin-bottom: 20px; /* Increase margin to create space between links */
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  width: 100%;
}

.navblock_text a:hover {
  color: #CFD8DC;
}

.navblock_text a.active {
  color: #3498DB; /* Color for active link */
  font-weight: bold;
}

.navblock_text a.active {
  color: #3498DB; /* Color for active link */
  font-weight: bold;
}

#main {
  margin-left: 220px; /* Adjust to match sidebar width + some padding */
  padding: 20px;
  max-width: 800px;
}

header.major {
  text-align: center;
  margin-bottom: 40px;
}

header.major h2 {
  font-size: 2.5em;
}


.affiliations-section {
  text-align: center;
  padding: 40px 0;
}

.affiliations-section h3 {
  margin-bottom: 20px;
  font-size: 1.8em;
}

.affiliations-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.affiliation-item {
  flex: 1 1 200px; /* Adjust the base width as needed */
  max-width: 200px; /* Ensure items don’t get too wide */
  text-align: center;
}

.affiliation-item img {
  max-width: 100%;
  height: auto;
}

.experience-item {
  margin-bottom: 30px;
}

.experience-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.details {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.details img {
  height: 30px; /* Adjust this to your preferred height */
  max-width: 100px; /* Ensures images don't get too wide */
  margin-left: 10px;
}

.bullet-points {
  list-style-type: disc;
  margin-left: 20px;
}

.bullet-points li {
  margin-bottom: 10px;
}

.social_links {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.talk-item img {
  max-width: 100px;  /* Adjust the width as needed */
  height: auto;     /* Maintain aspect ratio */
  display: inline-block;
  vertical-align: middle;  /* Align images with text */
  margin-left: 10px;  /* Space between text and image */
}

.profile-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between;
  padding: 20px;
}

.profile-text {
  max-width: 60%;
}

.profile-photo {
  max-width: 35%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start; /* Align the photo to the top */
  margin-top: -20px; /* Adjust the top margin as needed */
}

.profile-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}
